<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.springbootmybatis.mapper.ProductMapper">

    <resultMap type="com.springbootmybatis.entity.Product" id="productResultMap">
        <id column="product_id" property="productId"/>
        <result column="producer_id" property="producerId"/>
        <result column="name" property="name"/>
        <result column="category" property="category"/>
        <result column="price" property="price"/>
        <result column="created_on" property="createdOn"/>
        <result column="expiration_date" property="expirationDate"/>
    </resultMap>

    <select id="getProductsListByKeywordInProducerName" resultMap="productResultMap">
        select p.*
        from sklep.products p
        inner join sklep.producents pro
        on p.producer_id = pro.producer_id
        <if test="producerName != null and producerName != ''">
            where pro.name like concat('%', #{producerName}, '%')
        </if>
    </select>

</mapper>